<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <add name="LibraryConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=udcalibrary;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
